@import "../styles/style.css";



.home-page {
    background: url(../images/home-page-img.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}